Models/briefcase.blend.meta
Models.meta
_Scripts/HealthComponent.cs
_Scripts/HealthComponent.cs.meta
_Scripts/PlayerAttack.cs
_Scripts/PlayerAttack.cs.meta
Materials.meta
Materials/M_Alien.mat
Materials/M_Alien.mat.meta
Materials/M_Alien_Face.mat
Materials/M_Alien_Face.mat.meta
Maurice/Prefabs/UICanvas.prefab
Maurice/Prefabs/UICanvas.prefab.meta
Models/Alien.fbx
Models/Alien.fbx.meta
Textures.meta
Textures/Alien.meta
Textures/Alien/Alien_Body.meta
Textures/Alien/Alien_Body/Alien_M_Alien_BaseMap.png
Textures/Alien/Alien_Body/Alien_M_Alien_BaseMap.png.meta
Textures/Alien/Alien_Body/Alien_M_Alien_Specular.png
Textures/Alien/Alien_Body/Alien_M_Alien_Specular.png.meta
Textures/Alien/Alien_Face.meta
Textures/Alien/Alien_Face/Alien_M_Alien_Face_BaseMap.png
Textures/Alien/Alien_Face/Alien_M_Alien_Face_BaseMap.png.meta
Textures/Alien/Alien_Face/Alien_M_Alien_Face_Specular.png
Textures/Alien/Alien_Face/Alien_M_Alien_Face_Specular.png.meta
